# create .env file in the same directory as your script and add the following line:
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/quote_db?retryWrites=true&w=majority
# Replace <username> and <password> with your actual MongoDB Atlas username and password.